body {
  font-family: Arial, "微軟正黑體";
  background-color: #EEE;
}

h1 {
  font-size: 42px;
}

.page {
  width: 960px;
  height: 1000px;
  padding: 0px 30px;
  margin: 0 auto;
  border: 1px solid #BBB;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.75);
}

.left-graph {
  width: 480px;
  height: 350px;
  float: left;
  font-size: 10px;
}
.right-graph {
  width: 480px;
  height: 350px;
  float: right;
  font-size: 10px;
}

.left-graph-label {
  margin-top: 10px;
  width: 480px;
  float: left;
  text-align: center;
  font-size: 14px;
}
.right-graph-label {
  margin-top: 10px;
  width: 480px;
  float: right;
  text-align: center;
  font-size: 14px;
}


.axis path, 
.axis line { 
  fill: none; 
  stroke: #000; 
  shape-rendering: crispEdges; 
}
.x.axis path { 
  display: none; 
}
